# Working Knowledge Layer mapping file.
# Format:
# Type/Subtype = working.knowledge.schematic.id
# override Type/Subtype = schematic.id  (required to replace a built-in mapping)
#
# Source mod: {{SOURCE_MOD_NAME}}

{{BLOCK_MAPPINGS}}
