# Working Knowledge Layer mapping file.
# Format:
# Type/Subtype = working.knowledge.schematic.id
#
# Example:
# CubeBlock/ExampleBlockSubtype = structure.industrial
# InteriorLight/ExampleLightSubtype = utility.interior_lighting

CubeBlock/ExampleBlockSubtype = structure.industrial
InteriorLight/ExampleLightSubtype = utility.interior_lighting
